<footer class="footer">
   <div class="footer__wrapper">
      <div class="footer__inner">
         <div class="footer__container">
            <div class="footer__logo">
               <a class="footer__logo--link" href="#">
                  <div class="footer__logo--icon"></div>
                  <div class="footer__logo--name">ForkIO</div>
               </a>
               <p class="footer__logo--text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur iste modi molestiae odit. Aperiam et, eveniet expedita
                  explicabo ipsam magni quis recusandae reiciendis repellat sed!
               </p>
            </div>
            <div class="footer__contacts">
               <h5 class="footer__title">
                  Office
                  <span class="underline"><span class="underline__point"></span></span>
               </h5>
               <div class="footer__contacts--details">
                  <p>Ukraine, 58013, city Ivano-Frankivsk str.Holovna 222</p>
                  <a class="footer__contacts--email" href="mailto:ForkIO@gmail.com">ForkIO@gmail.com</a>
                  <a class="footer__contacts--tel" href="tel:+380991232323">+38(099)123-23-23</a>
               </div>
            </div>
            <div class="footer__menu">
               <h5 class="footer__title">
                  Menu
                  <span class="underline"><span class="underline__point"></span></span>
               </h5>
               <ul class="footer__menu--list">
                  <li class="footer__menu--item"><a class="footer__link" href="#">Overview</a></li>
                  <li class="footer__menu--item"><a class="footer__link" href="#">About Fork</a></li>
                  <li class="footer__menu--item"><a class="footer__link" href="#">Buying Options</a></li>
                  <li class="footer__menu--item"><a class="footer__link" href="#">Support</a></li>
               </ul>
            </div>
            <div class="footer__newsletter">
               <h5 class="footer__title">
                  Newsletter
                  <span class="underline"><span class="underline__point"></span></span>
               </h5>
               <form class="footer__newsletter--form">
                  <svg
                     class="footer__icon--envelope"
                     fill="#f4f4f4"
                     width="50"
                     height="50"
                     viewBox="-5.5 0 32 32"
                     version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                  >
                     <title>envelope</title>
                     <path
                        d="M18 8.32h-15.12c-1.56 0-2.84 1.28-2.84 2.84v9.64c0 1.56 1.28 2.84 2.84 2.84h15.12c1.56 0 2.84-1.28 2.84-2.84v-9.64c0-1.56-1.24-2.84-2.84-2.84zM2.88 10h15.12c0.64 0 1.16 0.52 1.16 1.16v0.4l-8.040 5.6c-0.36 0.24-1.040 0.24-1.4 0l-8.040-5.6v-0.4c0.040-0.64 0.56-1.16 1.2-1.16zM18 22h-15.12c-0.64 0-1.16-0.52-1.16-1.16v-7.24l7.080 4.92c0.48 0.32 1.080 0.48 1.68 0.48s1.2-0.16 1.68-0.48l7.040-4.92v7.2c0 0.68-0.56 1.2-1.2 1.2z"
                     ></path>
                  </svg>
                  <input class="footer__newsletter--input" type="email" placeholder="Enter your email" required />
                  <span class="footer__newsletter--hint">Thank you for your subscription</span>
                  <span class="footer__newsletter--hint_false">Enter a valid email</span>
                  <button class="footer__newsletter--btn" type="button">
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                        <g
                           style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                           transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                           <path
                              d="M 73.534 58.799 L 31.201 16.466 c -1.059 -1.059 -1.059 -2.776 0 -3.835 L 43.038 0.794 c 1.059 -1.059 2.776 -1.059 3.835 0 l 42.333 42.333 c 1.059 1.059 1.059 2.776 0 3.835 L 77.369 58.799 C 76.31 59.858 74.593 59.858 73.534 58.799 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #f4f4f4;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                           <path
                              d="M 73.534 31.201 L 31.201 73.534 c -1.059 1.059 -1.059 2.776 0 3.835 l 11.837 11.837 c 1.059 1.059 2.776 1.059 3.835 0 l 42.333 -42.333 c 1.059 -1.059 1.059 -2.776 0 -3.835 L 77.369 31.201 C 76.31 30.142 74.593 30.142 73.534 31.201 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #f4f4f4;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                           <path
                              d="M 62.579 56.082 l -59.868 0 C 1.214 56.082 0 54.867 0 53.37 L 0 36.63 c 0 -1.498 1.214 -2.712 2.712 -2.712 l 59.868 0 c 1.498 0 2.712 1.214 2.712 2.712 l 0 16.739 C 65.291 54.867 64.077 56.082 62.579 56.082 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #f4f4f4;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                        </g>
                     </svg>
                  </button>
               </form>
               <div class="footer__social_icons">
                  <a class="footer__social_icon" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                        <g
                           style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                           transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                           <path
                              d="M 51.991 90 V 49.008 h 13.781 l 2.12 -16.049 H 51.991 V 22.739 c 0 -4.632 1.293 -7.791 7.94 -7.791 h 8.417 V 0.637 C 64.25 0.196 60.13 -0.017 56.009 0.001 c -12.212 0 -20.576 7.42 -20.576 21.148 v 11.809 H 21.652 v 16.049 h 13.781 V 90 H 51.991 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                        </g>
                     </svg>
                  </a>
                  <a class="footer__social_icon" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                        <g
                           style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                           transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                           <path
                              d="M 62.679 90 H 27.322 C 12.256 90 0 77.744 0 62.679 V 27.322 C 0 12.256 12.256 0 27.322 0 h 35.357 C 77.744 0 90 12.256 90 27.322 v 35.357 C 90 77.744 77.744 90 62.679 90 z M 27.322 5 C 15.014 5 5 15.014 5 27.322 v 35.357 C 5 74.986 15.014 85 27.322 85 h 35.357 C 74.986 85 85 74.986 85 62.679 V 27.322 C 85 15.014 74.986 5 62.679 5 H 27.322 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                           <path
                              d="M 45.261 69.999 c -13.641 0 -24.738 -11.098 -24.738 -24.738 c 0 -13.641 11.098 -24.738 24.738 -24.738 C 58.902 20.523 70 31.621 70 45.261 C 70 58.901 58.902 69.999 45.261 69.999 z M 45.261 25.523 c -10.884 0 -19.738 8.854 -19.738 19.738 c 0 10.883 8.854 19.738 19.738 19.738 C 56.146 64.999 65 56.145 65 45.261 C 65 34.377 56.146 25.523 45.261 25.523 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                           <circle
                              cx="71.175"
                              cy="19.335"
                              r="5.015"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform="  matrix(1 0 0 1 0 0) "
                           />
                        </g>
                     </svg>
                  </a>
                  <a class="footer__social_icon" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                        <g
                           style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                           transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                           <path
                              d="M 28.304 81.572 c 33.964 0 52.537 -28.138 52.537 -52.537 c 0 -0.8 -0.016 -1.595 -0.053 -2.387 c 3.605 -2.606 6.739 -5.858 9.212 -9.561 c -3.309 1.47 -6.869 2.46 -10.604 2.907 c 3.812 -2.286 6.739 -5.903 8.119 -10.214 c -3.569 2.115 -7.519 3.654 -11.724 4.482 c -3.37 -3.589 -8.168 -5.834 -13.478 -5.834 c -10.198 0 -18.468 8.27 -18.468 18.464 c 0 1.449 0.162 2.858 0.479 4.21 C 28.978 30.33 15.37 22.982 6.264 11.81 c -1.587 2.728 -2.501 5.899 -2.501 9.281 c 0 6.406 3.26 12.061 8.217 15.37 c -3.029 -0.093 -5.874 -0.925 -8.363 -2.31 c -0.004 0.077 -0.004 0.154 -0.004 0.235 c 0 8.944 6.366 16.409 14.814 18.102 c -1.551 0.422 -3.183 0.649 -4.868 0.649 c -1.19 0 -2.347 -0.118 -3.471 -0.333 c 2.351 7.336 9.167 12.674 17.25 12.825 c -6.321 4.953 -14.282 7.904 -22.933 7.904 c -1.49 0 -2.96 -0.085 -4.405 -0.256 C 8.172 78.515 17.875 81.572 28.304 81.572"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                        </g>
                     </svg>
                  </a>
                  <a class="footer__social_icon" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                        <g
                           style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                           transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                           <path
                              d="M 25.334 90 c 3.415 -2.853 8.943 -12.256 10.189 -17.048 c 0.671 -2.581 3.437 -13.114 3.437 -13.114 c 1.799 3.43 7.054 6.334 12.644 6.334 c 16.638 0 28.626 -15.301 28.626 -34.312 C 80.229 13.636 65.357 0 46.22 0 C 22.415 0 9.771 15.981 9.771 33.382 c 0 8.091 4.307 18.164 11.198 21.371 c 1.045 0.486 1.604 0.272 1.845 -0.738 c 0.183 -0.767 1.113 -4.513 1.532 -6.256 c 0.134 -0.557 0.068 -1.036 -0.383 -1.582 c -2.279 -2.764 -4.105 -7.848 -4.105 -12.589 c 0 -12.167 9.213 -23.94 24.909 -23.94 c 13.552 0 23.042 9.235 23.042 22.443 c 0 14.923 -7.536 25.261 -17.341 25.261 c -5.415 0 -9.469 -4.478 -8.169 -9.968 c 1.555 -6.558 4.569 -13.634 4.569 -18.367 c 0 -4.237 -2.274 -7.771 -6.98 -7.771 c -5.536 0 -9.982 5.727 -9.982 13.397 c 0 4.886 1.65 8.19 1.65 8.19 s -5.467 23.115 -6.469 27.421 c -1.109 4.764 -0.674 11.476 -0.191 15.84 L 25.334 90 z"
                              style="
                                 stroke: none;
                                 stroke-width: 1;
                                 stroke-dasharray: none;
                                 stroke-linecap: butt;
                                 stroke-linejoin: miter;
                                 stroke-miterlimit: 10;
                                 fill: #000000;
                                 fill-rule: nonzero;
                                 opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                           />
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
         <p class="footer__copy">Easy Tutorial &copy 2023 - All Right Reserved</p>
      </div>
   </div>
</footer>
