<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="css/main.min.css" />
   <link rel="icon" type="image/x-icon" href="./img/header/header_logo.png" />
   <title>@@title</title>
</head>
