*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   width: 100%;
}

::-webkit-scrollbar {
   width: 9px;
}

::-webkit-scrollbar-track {
   background: #151515;
}

::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background: #4b3e52;
}
