.footer {
   flex: 0 1 auto;
   width: 100vw;
   background-color: rgba(65, 45, 65);
   position: relative;
   bottom: 0;

   @media (max-width: $tablet) {
      bottom: unset;
   }

   &__wrapper {
      width: 100%;
      background-color: color(footer);
      position: relative;
      bottom: 10px;
   }

   &__inner {
      width: 100%;
      background-color: rgba(65, 45, 65);
   }

   &__container {
      padding-top: 60px;
      @include flexProperties(flex-start, space-between);
      flex-wrap: wrap;
      gap: 30px;
   }

   &__logo {
      flex-basis: 25%;

      @media (max-width: $mobile) {
         flex-basis: 100%;
      }
   }

   &__logo--link {
      @extend .navbar__logo--link;
      margin-bottom: 19px;
      transition: all 0.5s;

      &:hover {
         color: color(secondary);

         .footer__logo--icon {
            background-image: url('../img/header/header_logo_hover.png');
         }
      }
   }

   &__logo--icon {
      @extend .navbar__logo--icon;
   }

   &__logo--name {
      @extend .navbar__logo--name;

      @media (max-width: $mobile) {
         display: block;
      }
   }

   &__logo--text {
      color: color(background, 'secondary');
   }

   &__contacts {
      flex-basis: 15%;
      color: color(background, 'secondary');
      font-size: 16px;

      @media (max-width: $mobile) {
         flex-basis: 100%;
      }
   }

   &__contacts--details {
      @include flexProperties(flex-start, start, column);
      gap: 25px;
      color: color(background, 'secondary');
   }

   &__contacts--email {
      text-decoration: underline;
   }

   &__contacts--tel {
      font-weight: 700;
   }

   &__title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: color(background, 'secondary');
      position: relative;
      width: fit-content;
   }

   &__menu {
      flex-basis: 15%;

      @media (max-width: $mobile) {
         flex-basis: 100%;
      }
   }

   &__menu--list {
      @extend .footer__contacts--details;
   }

   &__menu--item {
      transition: all 0.5s;

      &:hover {
         color: color(accent);
      }
   }

   &__newsletter--form {
      padding-bottom: 15px;
      @include flexProperties(center, space-between);
      border-bottom: 1px solid #645766;
      margin-bottom: 50px;
      position: relative;
   }

   &__icon--envelope {
      margin-right: 10px;
   }

   &__newsletter--input {
      width: 100%;
      background: transparent;
      color: color(background, 'secondary');
      border: 0;
      outline: none;
      font-size: 17px;
   }

   &__newsletter--btn {
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
   }

   &__newsletter--hint {
      opacity: 0;
      position: absolute;
      top: 37px;
      transition: opacity 0.25s;
      color: color(accent);
   }

   &__newsletter--hint_false {
      @extend .footer__newsletter--hint;
      color: #ff2626;
   }

   &__social_icons {
      @include flexCenter();
      justify-content: space-between;
      gap: 15px;
   }

   &__social_icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include flexCenter();
      background: color(background, 'secondary');
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
         background: color(accent);
      }
   }

   &__copy {
      width: 90%;
      text-align: center;
      margin: 30px auto 0;
      border-top: 1px solid #645766;
      padding: 20px 0px 10px;
   }
}

.show_hint {
   opacity: 1;
}

.underline {
   display: inline-block;
   width: 100%;
   height: 5px;
   background: color(primary);
   border-radius: 3px;
   position: absolute;
   top: 30px;
   left: 0;
   overflow: hidden;

   &__point {
      width: 15px;
      height: 100%;
      background: color(secondary);
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 2s linear infinite;
   }
}

@keyframes moving {
   0% {
      left: -20px;
   }
   100% {
      left: 100%;
   }
}
