.header {
   flex: 0 1 auto;
   height: 929px;
   font-family: 'Montserrat', sans-serif;

   @media (max-width: $mobile) {
      height: 830px;
   }

   &__inner {
      height: 795px;
      background-color: #010005;
      background-image: url('../img/header/header_bg.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @media (max-width: $mobile) {
         height: 715px;
      }
   }

   &__container {
      height: 100%;

      @media (max-width: $mobile) {
         padding: 0 16px;
      }
   }

   &__inner--btn {
      height: 133px;
      background-color: color(secondary);

      @media (max-width: $mobile) {
         height: 115px;
      }
   }
}

.navbar {
   height: 100px;

   @media (max-width: $tablet) {
      height: 118px;
      background-color: #27262a;
   }

   @media (max-width: $mobile) {
      height: 103px;
   }

   &__wrapper {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 530px 145px;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;

      @media (max-width: $tablet) {
         padding-top: 22px;
         grid-template-columns: 160px 1fr 145px;
         grid-template-rows: repeat(2, 1fr);
      }

      @media (max-width: $mobile) {
         padding-top: 14px;
         grid-template-columns: 70px 1fr 70px;
         grid-template-rows: 1fr;
      }
   }

   &__logo {
      width: 164px;
      grid-row: span 2;

      @media (max-width: $tablet) {
         grid-row: span 1;
      }

      @media (max-width: $mobile) {
         width: auto;
      }

      &:hover {
         .navbar__logo--link {
            color: color(secondary);
         }

         .navbar__logo--icon {
            background-image: url('../img/header/header_logo_hover.png');
         }
      }
   }

   &__logo--link {
      @include flexProperties(center);
      gap: 17px;
      color: color(accent);
      transition: all 0.5s;
   }

   &__logo--icon {
      width: 43px;
      height: 41px;
      background-image: url('../img/header/header_logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.5s;
   }

   &__logo--name {
      @include fontProperties(700, 24, 16);
      text-transform: uppercase;

      @media (max-width: $mobile) {
         display: none;
      }
   }

   &__list {
      @include flexProperties(center, space-between);
      grid-row: span 2;
      margin-right: 38px;

      @media (max-width: $tablet) {
         margin-right: 0;
         grid-row: 2;
         grid-column: span 3;
         justify-self: center;
         justify-content: center;
         gap: 47px;
      }

      @media (max-width: 570px) {
         gap: 0;
         justify-content: space-between;
         width: 100%;
      }

      @media (max-width: $mobile) {
         flex-direction: column;
         margin: 0;
         width: 100%;
         position: relative;
         justify-content: start;
         align-items: start;
         top: 187px;
         overflow: hidden;
      }
   }

   &__item {
      color: color(accent);
      @include fontProperties(700, 16, 15);
      position: relative;
      transition: color 0.5s;

      &:hover {
         color: color(secondary);
      }

      &::before,
      &::after {
         content: '';
         width: 8px;
         height: 0;
         background-color: color(accent);
         position: absolute;
         left: 3px;
         transition: height 0.5s;
      }

      &::before {
         bottom: 41px;
      }

      &::after {
         top: 46px;
      }

      @media (max-width: $mobile) {
         opacity: 0;
         color: color(secondary);
         @include fontProperties(400, 26, 26);
         background-color: #333333;
         padding: 33px 0 28px 36px;
         width: 100%;
         border-bottom: 3px solid #3b3b3b;

         &:hover {
            color: color(accent);

            &:before,
            &:after {
               height: 26px;
            }
         }
      }
   }

   &__item--elem {
      opacity: 0;

      @media (max-width: $mobile) {
         background-color: #333333;
         display: inline-block;
         height: 17px;
         width: 100%;
      }
   }

   &__link {
      width: 100%;
      display: inline-block;
   }

   &__btn--wrapper {
      grid-row: span 2;
      @extend .header__btn--wrapper;
      width: 145px;
      height: 38px;
      @include fontProperties(700, 16, 17);

      @media (max-width: $tablet) {
         grid-column: 3;
         grid-row: span 1;
      }

      @media (max-width: $mobile) {
         width: 119px;
         height: 37px;
         @include fontProperties(null, 15, 15);
         grid-column: 2;
         justify-self: center;
      }
   }

   &__btn {
      @extend .header__btn;
      @include fontProperties(700, 16, 17);

      @media (max-width: $mobile) {
         @include fontProperties(null, 15, 15);
      }
   }

   &__btn--text {
      @extend .header__btn--text;
      @include fontProperties(700, 16, 17);

      @media (max-width: $mobile) {
         @include fontProperties(null, 15, 15);
      }
   }
}

.burger {
   display: none;

   @media (max-width: $mobile) {
      display: block;
   }

   &__icon {
      width: 70px;
      cursor: pointer;
      transition: transform 0.4s;
      user-select: none;
   }

   &__line {
      fill: none;
      transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
      stroke: #fff;
      stroke-width: 5.5;
      stroke-linecap: round;
   }

   &__line--top {
      stroke-dasharray: 22 121;
   }

   &__line--bottom {
      stroke-dasharray: 40 121;
   }
}

.navbar.open {
   .burger__icon {
      transform: rotate(45deg);
   }

   .burger__line--top {
      stroke-dashoffset: -68px;
      stroke-dasharray: 40 121;
   }

   .burger__line--bottom {
      stroke-dashoffset: -68px;
   }

   @media (max-width: $mobile) {
      .navbar__list {
         perspective: 1000px;
         display: flex;
      }

      .navbar__item {
         transform-origin: top left;
         opacity: 0;
         @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
               animation: {
                  name: menu;
                  delay: calc((150ms * $i) / 2);
                  duration: 300ms;
                  fill-mode: forwards;
                  timing-function: ease-in-out;
               }
            }
         }
      }

      .navbar__item--elem {
         transform-origin: top left;
         opacity: 0;
         animation: {
            name: menu;
            delay: calc((150ms * 4) / 2);
            duration: 300ms;
            fill-mode: forwards;
            timing-function: ease-in-out;
         }
      }
   }
}

@keyframes menu {
   0% {
      opacity: 0;
      transform: skewX(45deg) skewY(-45deg);
   }
   80% {
      transform: skewX(-10) skewY(-10);
   }
   100% {
      opacity: 1;
      transform: skewX(0deg) skewY(0deg);
   }
}

.header {
   &__burger {
      @media (max-width: $mobile) {
         position: relative;
         left: 16px;
      }
   }

   &__title {
      margin-top: 83px;
      text-align: center;
      color: color(secondary);
      @include fontProperties(700, 82, 82);

      @media (max-width: $tablet) {
         @include fontProperties(null, 72, 72);
         margin-top: 69px;
      }

      @media (max-width: $mobile) {
         @include fontProperties(null, 48, 48);
         margin-top: 50px;
      }
   }

   &__slogan {
      font-family: 'Lato', sans-serif;
      color: color(accent);
      @include fontProperties(400, 30, 30);
      text-align: center;
      margin-top: 19px;

      @media (max-width: $tablet) {
         @include fontProperties(null, 24, 24);
      }

      @media (max-width: $mobile) {
         @include fontProperties(null, 18, 24);
      }
   }

   &__text {
      @include fontProperties(400, 16, 16);
      text-transform: uppercase;
      text-align: center;
      color: color(primary);
      margin-top: 19px;

      @media (max-width: $tablet) {
         @include fontProperties(null, 14, 14);
      }

      @media (max-width: $mobile) {
         margin-top: 14px;
      }
   }

   &__btn--wrap {
      @include flexProperties(center, center, column);
   }

   &__btn_download--wrapper {
      @extend .header__btn--wrapper;
      width: 390px;
      height: 62px;
      @include fontProperties(700, 21, 22);
      position: relative;
      bottom: 31px;

      @media (max-width: $mobile) {
         width: 290px;
         height: 45px;
         @include fontProperties(null, 18, 20);
         bottom: 22.5px;
      }
   }

   &__btn_download {
      @extend .header__btn;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 21px;
      @include fontProperties(700, 21, 22);

      @media (max-width: $mobile) {
         @include fontProperties(null, 18, 20);
         padding-top: 13px;
      }
   }

   &__btn_download--text {
      @extend .header__btn--text;
      @include fontProperties(700, 21, 22);

      @media (max-width: $mobile) {
         @include fontProperties(null, 18, 20);
      }
   }

   &__text--trial {
      @include fontProperties(400, 14, 15);
      color: color(primary);
      margin-top: -12px;

      @media (max-width: $mobile) {
         margin-top: -8px;
      }
   }
}
